In [110]:
import pandas as pd
import numpy as np

In [111]:
raw_2018 = pd.read_csv("./survey_results_public_2018.csv")

In [4]:
for i in raw_2018.columns:
    print(i)

Respondent
Hobby
OpenSource
Country
Student
Employment
FormalEducation
UndergradMajor
CompanySize
DevType
YearsCoding
YearsCodingProf
JobSatisfaction
CareerSatisfaction
HopeFiveYears
JobSearchStatus
LastNewJob
AssessJob1
AssessJob2
AssessJob3
AssessJob4
AssessJob5
AssessJob6
AssessJob7
AssessJob8
AssessJob9
AssessJob10
AssessBenefits1
AssessBenefits2
AssessBenefits3
AssessBenefits4
AssessBenefits5
AssessBenefits6
AssessBenefits7
AssessBenefits8
AssessBenefits9
AssessBenefits10
AssessBenefits11
JobContactPriorities1
JobContactPriorities2
JobContactPriorities3
JobContactPriorities4
JobContactPriorities5
JobEmailPriorities1
JobEmailPriorities2
JobEmailPriorities3
JobEmailPriorities4
JobEmailPriorities5
JobEmailPriorities6
JobEmailPriorities7
UpdateCV
Currency
Salary
SalaryType
ConvertedSalary
CurrencySymbol
CommunicationTools
TimeFullyProductive
EducationTypes
SelfTaughtTypes
TimeAfterBootcamp
HackathonReasons
AgreeDisagree1
AgreeDisagree2
AgreeDisagree3
LanguageWorkedWith
LanguageDesireNextYear
DatabaseWorkedWith
DatabaseDesireNextYear
PlatformWorkedWith
PlatformDesireNextYear
FrameworkWorkedWith
FrameworkDesireNextYear
IDE
OperatingSystem
NumberMonitors
Methodology
VersionControl
CheckInCode
AdBlocker
AdBlockerDisable
AdBlockerReasons
AdsAgreeDisagree1
AdsAgreeDisagree2
AdsAgreeDisagree3
AdsActions
AdsPriorities1
AdsPriorities2
AdsPriorities3
AdsPriorities4
AdsPriorities5
AdsPriorities6
AdsPriorities7
AIDangerous
AIInteresting
AIResponsible
AIFuture
EthicsChoice
EthicsReport
EthicsResponsible
EthicalImplications
StackOverflowRecommend
StackOverflowVisit
StackOverflowHasAccount
StackOverflowParticipate
StackOverflowJobs
StackOverflowDevStory
StackOverflowJobsRecommend
StackOverflowConsiderMember
HypotheticalTools1
HypotheticalTools2
HypotheticalTools3
HypotheticalTools4
HypotheticalTools5
WakeTime
HoursComputer
HoursOutside
SkipMeals
ErgonomicDevices
Exercise
Gender
SexualOrientation
EducationParents
RaceEthnicity
Age
Dependents
MilitaryUS
SurveyTooLong
SurveyEasy

In [112]:
df_2018 = raw_2018[['Respondent', 'Country', 'FormalEducation', 'DevType', 'YearsCoding', 'ConvertedSalary', 'LanguageWorkedWith', 'DatabaseWorkedWith', 'PlatformWorkedWith', 'FrameworkWorkedWith']]

In [8]:
edu_map = pd.read_csv('edu_map.csv')

In [113]:
df_2018 = df_2018.merge(edu_map, left_on='FormalEducation', right_on='EdLevel', how='left').drop(['Unnamed: 0', 'EdLevel'], axis=1)

In [114]:
country_map = pd.read_csv('country_map.csv')

In [115]:
df_2018 = df_2018.merge(country_map, on='Country', how='left').drop(['Unnamed: 0'], axis=1)

In [17]:
df_2018['YearsCoding'].unique()

array(['3-5 years', '30 or more years', '24-26 years', '18-20 years',
       '6-8 years', '9-11 years', '0-2 years', '15-17 years',
       '12-14 years', '21-23 years', '27-29 years', nan], dtype=object)

In [116]:
df_2018.loc[df_2018['YearsCoding']=='3-5 years', 'YearsCode'] = 4
df_2018.loc[df_2018['YearsCoding']=='30 or more years', 'YearsCode'] = 30
df_2018.loc[df_2018['YearsCoding']=='24-26 years', 'YearsCode'] = 25
df_2018.loc[df_2018['YearsCoding']=='18-20 years', 'YearsCode'] = 19
df_2018.loc[df_2018['YearsCoding']=='6-8 years', 'YearsCode'] = 7
df_2018.loc[df_2018['YearsCoding']=='9-11 years', 'YearsCode'] = 10
df_2018.loc[df_2018['YearsCoding']=='0-2 years', 'YearsCode'] = 1
df_2018.loc[df_2018['YearsCoding']=='15-17 years', 'YearsCode'] = 16
df_2018.loc[df_2018['YearsCoding']=='12-14 years', 'YearsCode'] = 13
df_2018.loc[df_2018['YearsCoding']=='21-23 years', 'YearsCode'] = 22
df_2018.loc[df_2018['YearsCoding']=='27-29 years', 'YearsCode'] = 28
df_2018.loc[df_2018['YearsCoding']==np.nan, 'YearsCode'] = 10

In [117]:
df_2018.loc[df_2018['YearsCode'].isna(), 'YearsCode'] = 10

In [118]:
df_2018['ConvertedSalary'] = df_2018['ConvertedSalary']*1.02440

In [119]:
df_2018 = df_2018.rename(columns={'ConvertedSalary': 'ConvertedComp'})

In [120]:
df_2018 = df_2018[~df_2018['ConvertedComp'].isna()]
df_2018 = df_2018[df_2018['ConvertedComp']<1000000]

In [121]:
temp1 = df_2018['DevType'].str.split(';', expand=True)

In [122]:
all_positions = []
for row in range(temp1.shape[0]):
    j = temp1.iloc[row].as_matrix()
    for position in j:
        if position not in all_positions:
            all_positions.append(position)

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [123]:
all_positions.remove(None)

In [124]:
all_positions.pop(-1)

nan

In [125]:
all_positions.sort()

In [42]:
all_positions

['Back-end developer',
 'C-suite executive (CEO, CTO, etc.)',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Designer',
 'Desktop or enterprise applications developer',
 'DevOps specialist',
 'Educator or academic researcher',
 'Embedded applications or devices developer',
 'Engineering manager',
 'Front-end developer',
 'Full-stack developer',
 'Game or graphics developer',
 'Marketing or sales professional',
 'Mobile developer',
 'Product manager',
 'QA or test developer',
 'Student',
 'System administrator']

In [126]:
for i in all_positions:
    df_2018[i] = 0

In [127]:
for i in range(temp1.shape[0]):
    j = list(temp1.iloc[i].as_matrix())
    for item in j:
        if type(item)==type('str'):
            df_2018.at[i, item] = 1

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [46]:
df_2018[all_positions].head(20)

,Back-end developer,"C-suite executive (CEO, CTO, etc.)",Data or business analyst,Data scientist or machine learning specialist,Database administrator,Designer,Desktop or enterprise applications developer,DevOps specialist,Educator or academic researcher,Embedded applications or devices developer,Engineering manager,Front-end developer,Full-stack developer,Game or graphics developer,Marketing or sales professional,Mobile developer,Product manager,QA or test developer,Student,System administrator
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
20,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
33,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
35,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
changes = {'Educator or academic researcher': 'Academic researcher', 
'QA or test developer': 'Developer, QA or test',
'Back-end developer': 'Developer, back-end',
'Desktop or enterprise applications developer': 'Developer, desktop or enterprise applications',
'Embedded applications or devices developer': 'Developer, embedded applications or devices',
'Front-end developer': 'Developer, front-end', 
'Full-stack developer': 'Developer, full-stack',
'Game or graphics developer': 'Developer, game or graphics',
'Mobile developer': 'Developer, mobile',
}

In [129]:
df_2018 = df_2018.rename(columns=changes)

In [130]:
df_2018['Educator'] = 0 
df_2018['Engineer, data'] = 0
df_2018['Engineer, site reliability'] = 0
df_2018['Scientist'] = 0
df_2018['Senior executive/VP'] = 0

In [51]:
all_positions = ['Academic researcher',
 'Data or business analyst',
 'Data scientist or machine learning specialist',
 'Database administrator',
 'Designer',
 'DevOps specialist',
 'Developer, QA or test',
 'Developer, back-end',
 'Developer, desktop or enterprise applications',
 'Developer, embedded applications or devices',
 'Developer, front-end',
 'Developer, full-stack',
 'Developer, game or graphics',
 'Developer, mobile',
 'Educator',
 'Engineer, data',
 'Engineer, site reliability',
 'Engineering manager',
 'Marketing or sales professional',
 'Product manager',
 'Scientist',
 'Senior executive/VP',
 'Student',
 'System administrator']

In [53]:
df_2018[all_positions].columns

Index(['Academic researcher', 'Data or business analyst',
       'Data scientist or machine learning specialist',
       'Database administrator', 'Designer', 'DevOps specialist',
       'Developer, QA or test', 'Developer, back-end',
       'Developer, desktop or enterprise applications',
       'Developer, embedded applications or devices', 'Developer, front-end',
       'Developer, full-stack', 'Developer, game or graphics',
       'Developer, mobile', 'Educator', 'Engineer, data',
       'Engineer, site reliability', 'Engineering manager',
       'Marketing or sales professional', 'Product manager', 'Scientist',
       'Senior executive/VP', 'Student', 'System administrator'],
      dtype='object')

In [131]:
temp2 = df_2018['LanguageWorkedWith'].str.split(';', expand=True)

In [132]:
all_languages = []
for row in range(temp2.shape[0]):
    j = temp2.iloc[row].as_matrix()
    for language in j:
        if language not in all_languages:
            all_languages.append(language)

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
all_languages.remove(None)

In [134]:
all_languages.pop(-11)

nan

In [135]:
all_languages.sort()

In [60]:
all_languages

['Assembly',
 'Bash/Shell',
 'C',
 'C#',
 'C++',
 'CSS',
 'Clojure',
 'Cobol',
 'CoffeeScript',
 'Delphi/Object Pascal',
 'Erlang',
 'F#',
 'Go',
 'Groovy',
 'HTML',
 'Hack',
 'Haskell',
 'Java',
 'JavaScript',
 'Julia',
 'Kotlin',
 'Lua',
 'Matlab',
 'Objective-C',
 'Ocaml',
 'PHP',
 'Perl',
 'Python',
 'R',
 'Ruby',
 'Rust',
 'SQL',
 'Scala',
 'Swift',
 'TypeScript',
 'VB.NET',
 'VBA',
 'Visual Basic 6']

In [136]:
for i in all_languages:
    df_2018[i] = 0

In [137]:
for i in range(temp2.shape[0]):
    j = list(temp2.iloc[i].as_matrix())
    for item in j:
        if type(item)==type('str'):
            df_2018.at[i, item] = 1

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [138]:
df_2018[all_languages].head()

,Assembly,Bash/Shell,C,C#,C++,CSS,Clojure,Cobol,CoffeeScript,Delphi/Object Pascal,...,R,Ruby,Rust,SQL,Scala,Swift,TypeScript,VB.NET,VBA,Visual Basic 6
1,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
change2 = {'Bash/Shell': 'Bash/Shell/PowerShell',
          'HTML': 'HTML/CSS'
          }

In [140]:
df_2018 = df_2018.rename(columns=change2)

In [141]:
df_2018['Other(s):'] = 0

In [142]:
temp3 = df_2018['DatabaseWorkedWith'].str.split(';', expand=True)

all_DBs = []
for row in range(temp3.shape[0]):
    j = temp3.iloc[row].as_matrix()
    for db in j:
        if db not in all_DBs:
            all_DBs.append(db)

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [143]:
all_DBs.remove(None)

In [144]:
all_DBs.pop(-6)

nan

In [145]:
all_DBs.sort()

In [73]:
all_DBs

['Amazon DynamoDB',
 'Amazon RDS/Aurora',
 'Amazon Redshift',
 'Apache HBase',
 'Apache Hive',
 'Cassandra',
 'Elasticsearch',
 'Google BigQuery',
 'Google Cloud Storage',
 'IBM Db2',
 'MariaDB',
 'Memcached',
 'Microsoft Azure (Tables, CosmosDB, SQL, etc)',
 'MongoDB',
 'MySQL',
 'Neo4j',
 'Oracle',
 'PostgreSQL',
 'Redis',
 'SQL Server',
 'SQLite']

In [146]:
for i in all_DBs:
    df_2018[i] = 0

In [147]:
for i in range(temp3.shape[0]):
    j = list(temp3.iloc[i].as_matrix())
    for item in j:
        if type(item)==type('str'):
            df_2018.at[i, item] = 1

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [148]:
change3 = {'Microsoft Azure (Tables, CosmosDB, SQL, etc)': 'Microsoft SQL Server'}

In [149]:
df_2018 = df_2018.rename(columns=change3)

In [150]:
df_2018['Couchbase'] = 0
df_2018['DynamoDB'] = 0
df_2018['Firebase'] = 0
df_2018['Other(s):'] = 0

In [151]:
temp4 = df_2018['PlatformWorkedWith'].str.split(';', expand=True)

all_plats = []
for row in range(temp4.shape[0]):
    j = temp4.iloc[row].as_matrix()
    for plat in j:
        if plat not in all_plats:
            all_plats.append(plat)

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [152]:
all_plats.remove(None)

In [153]:
all_plats.pop(10)

nan

In [154]:
all_plats.sort()

In [155]:
for i in all_plats:
    df_2018[i] = 0

In [156]:
for i in range(temp4.shape[0]):
    j = list(temp4.iloc[i].as_matrix())
    for item in j:
        if type(item)==type('str'):
            df_2018.at[i, item] = 1

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [84]:
all_plats

['AWS',
 'Amazon Echo',
 'Android',
 'Apple Watch or Apple TV',
 'Arduino',
 'Azure',
 'Drupal',
 'ESP8266',
 'Firebase',
 'Gaming console',
 'Google Cloud Platform/App Engine',
 'Google Home',
 'Heroku',
 'IBM Cloud or Watson',
 'Linux',
 'Mac OS',
 'Mainframe',
 'Predix',
 'Raspberry Pi',
 'Salesforce',
 'Serverless',
 'SharePoint',
 'Windows Desktop or Server',
 'Windows Phone',
 'WordPress',
 'iOS']

In [157]:
change4 = {'Windows Desktop or Server': 'Windows',
          'Google Cloud Platform/App Engine': 'Google Cloud Platform',
          'Mac OS': 'MacOS'}

In [158]:
df_2018 = df_2018.rename(columns=change4)

In [159]:
df_2018['Docker'] = 0
df_2018['Slack'] = 0
df_2018['Microsoft Azure'] = 0
df_2018['Kubernetes'] = 0
df_2018['Other(s):'] = 0

In [160]:
temp5 = df_2018['FrameworkWorkedWith'].str.split(';', expand=True)

all_frames = []
for row in range(temp5.shape[0]):
    j = temp5.iloc[row].as_matrix()
    for frame in j:
        if frame not in all_frames:
            all_frames.append(frame)

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [161]:
all_frames.remove(None)

In [162]:
all_frames.pop(1)

nan

In [163]:
all_frames.sort()

In [98]:
all_frames

['.NET Core',
 'Angular',
 'Cordova',
 'Django',
 'Hadoop',
 'Node.js',
 'React',
 'Spark',
 'Spring',
 'TensorFlow',
 'Torch/PyTorch',
 'Xamarin']

In [164]:
for i in all_frames:
    df_2018[i] = 0

In [165]:
for i in range(temp5.shape[0]):
    j = list(temp5.iloc[i].as_matrix())
    for item in j:
        if type(item)==type('str'):
            df_2018.at[i, item] = 1

/Users/owenbchiu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [166]:
change5 = {'Angular': 'Angular/Angular.js',
          'React': 'React.js',}

In [167]:
df_2018 = df_2018.rename(columns=change5)

In [168]:
df_2018['Express'] = 0
df_2018['Ruby on Rails'] = 0
df_2018['Other(s):'] = 0
df_2018['ASP.NET'] = 0
df_2018['Flask'] = 0
df_2018['jQuery'] = 0
df_2018['Vue.js'] = 0
df_2018['Laravel'] = 0

In [169]:
features = ['YearsCode', 'CountryAvgComp', 'EducationAvgComp',
       'Academic researcher', 'Data or business analyst',
       'Data scientist or machine learning specialist',
       'Database administrator', 'Designer', 'DevOps specialist',
       'Developer, QA or test', 'Developer, back-end',
       'Developer, desktop or enterprise applications',
       'Developer, embedded applications or devices', 'Developer, front-end',
       'Developer, full-stack', 'Developer, game or graphics',
       'Developer, mobile', 'Educator', 'Engineer, data',
       'Engineer, site reliability', 'Engineering manager', 'Product manager',
       'Scientist', 'Senior executive/VP', 'Student', 'System administrator',
       'Assembly', 'Bash/Shell/PowerShell', 'C', 'C#', 'C++', 'Go', 'HTML/CSS',
       'Java', 'JavaScript', 'Kotlin', 'Objective-C', 'Other(s):', 'PHP',
       'Python', 'R', 'Ruby', 'Rust', 'SQL', 'Scala', 'Swift', 'TypeScript',
       'VBA', 'Cassandra', 'DynamoDB', 'Elasticsearch', 'Firebase', 'MariaDB',
       'Microsoft SQL Server', 'MongoDB', 'MySQL', 'Oracle', 'PostgreSQL',
       'Redis', 'SQLite', 'Linux', 'Windows', 'Android',
       'Google Cloud Platform', 'AWS', 'Docker', 'Heroku', 'MacOS', 'Slack',
       'iOS', 'Microsoft Azure', 'WordPress', 'Arduino', 'Raspberry Pi',
       'Kubernetes', 'Express', 'Ruby on Rails', 'Angular/Angular.js',
       'ASP.NET', 'Django', 'Flask', 'jQuery', 'Vue.js', 'Spring', 'React.js',
       'Laravel', 'ConvertedComp']

In [172]:
df_2018 = df_2018[~df_2018['YearsCode'].isna()]

In [175]:
df_2018 = df_2018[~df_2018['CountryAvgComp'].isna()]

In [178]:
df_2018.to_csv('20')

(46592, 149)